<!--menu.html-->

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Home
            </a>
            <a class="navbar-brand" href="/articles">
                Articles
            </a>
            <a class="navbar-brand" href="/projects">
                Projects
            </a>
            <a class="navbar-brand" href="/gettingstarted">
                Getting Started
            </a>
            <a class="navbar-brand" href="/documentation">
                Documentation
            </a>
            <a class="navbar-brand" href="/pricing">
                Pricing
            </a>
            <a class="navbar-brand" href="/login">
                Login
            </a>
        </div>
    </div>
</nav>